@use '../../colors' as *;

.sidebar-container{
  width: 30%;
  max-width: 500px;
  height: 100%;
  min-height: 92.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $lightTurquoise;
  box-shadow: 1px 1px 5px $gray;
  z-index: 2;
  .image-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 0px;
    .profile{
      max-width: 170px;
      width: 30vw;
    }
    .arrow-small{
      color: $lightTurquoise;
      border: None;
      font-weight: 900;
      font-size: 1vw;
      cursor: pointer;
      background-color: $lightGray;
      padding: 2px;
    }
  }
  p{

    font-size: large;
    font-weight: 500;
    padding: 30px;
    .much-more{
      //color: red;
      color: $turquoise;
      b{
        font-weight: 900;
      }
    }
    .welcome{
      font-size: x-large;
      font-weight: bold;
      padding-bottom: 2px;
    }
  }
  .category-wrap{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $lightTurquoise;

  }
  .active{
    background-color: $midTurquoise;
  }


}
.category{
    text-align: center;
    color: black;
    padding: 10px 0px;
    border-top: 0.1px solid $turquoise;
    //box-shadow: 1px 1px 10px gray;
    border-radius: 0px;
    width: 100%;
    text-decoration: None;
    font-weight: bold;
    font-size: large;

  }
.section-name{
      text-decoration: none;
      text-align: center;
      color: $darkGray;
      padding: 12px 0px;
      border-bottom: 8px solid $midTurquoise;
      border-right: 10px solid $midTurquoise;
      border-left: 10px solid $midTurquoise;
      //box-shadow: 1px 1px 10px gray inset;
      border-radius: 0px;
      width: 100%;
      font-weight: 500;
      //background: linear-gradient(135deg, $white, $lightGray);
      background-color: $white;
      cursor: pointer;
    }