.projects-page{
  display: flex;
  align-items: start;
  flex-direction: column;
  width: 100%;
  max-height: 92.5vh;
  border: 5px solid black;
  overflow-y: scroll;
  h1{
    padding: 20px;
    width: 100%;
    text-align: center;
  }
  h2{
    text-align: left;
    width: 100%;
    padding: 10px 50px;
  }
  .projects-container{
    background-color: #efe7cd;

    //display: grid;
    //grid-template-columns: 1fr 1fr 1fr 1fr;
    display: flex;
    max-width: 1300px;
    flex-wrap: wrap;
    padding: 50px 2vw 50px 2vw;
  }
}

