@use '../../colors' as *;

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $midTurquoise;
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  max-height: 100vh;
  overflow-y: auto;;

  .image-wrapper {
    box-sizing: content-box;
    max-width: 250px;
    width: 40vw;
    border-radius: 50%;
    border: 10px solid rgba(2, 151, 151, 0.51);
    z-index: 1;

    margin: 5vh 5vw;

    .profile {
      max-width: 250px;
      width: 40vw;
      border-radius: 50%;
    }

  }

  .intro-side {
    max-width: 85%;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0 3vw 3vh;
    @media (max-width: 380px) {
      font-size: 1.3rem;
    }

    .much-more {
      b {
      }
    }

    .welcome {
      text-align: center;
      display: block;
      font-size: 3rem;
      font-weight: bold;
      padding-bottom: 0;
      margin: 0;
      @media (max-width: 1200px) {
        font-size: 2.5rem;
      }
      @media (max-width: 380px) {
        font-size: 2rem;
      }
    }
  }

  .welcome-links {
    display: flex;
    padding-bottom: 3vh;
    padding-top: 1vh;
    @media (max-width: 660px) {
      flex-direction: column;
    }

    .submit-button {
      text-align: center;
      text-decoration: none;
      font-size: 1.5rem;
      font-weight: 550;
      margin: 1.4vh 1rem 0;
      padding: 1vh 3vw;
      border-radius: 15px;
      @media (max-width: 440px) {
        margin: 0 0 20px;
      }
      @media (max-width: 350px) {
        font-weight: 100;
        font-size: 1.3rem;
      }
    }
  }
}