.layout-main{

  position: relative;
  top: 7.5vh;
  display: flex;
  height: 92.5vh;
  .sidebar-control{
    position: absolute;
    width: 6vw;
    max-width: 32px;
    cursor: pointer;
    margin: 1rem;
    z-index: 5;
  }
  .right-layout{
    flex: 1 1 0;
    min-width: 0;
    overflow: auto;
  }
}