@use '../../colors' as *;

.links-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .singlink-container {
    position: relative;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    border-radius: 20px;
    margin-bottom: 15px;
    width: 90%;
    padding: 10px 1rem;
    gap: 1rem;
    cursor: pointer;

    .upper-link{
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
      .icon {
      width: 25px;
      margin: 0;
      padding: 0;
      @media (max-width: 500px) {
        margin-right: 2px;
      }
    }

    #code-icon {
      margin-top: 3px;
      margin-bottom: 3px;
    }

    #view-icon {
       margin: 0;
      padding: 0;
    }

    .singlink {
      color: $white;
      text-decoration: none;
      width: 65%;
      font-size: 1rem;
      padding: 0;
      margin: 0;
      background-color: transparent;
      box-shadow: none;
      border: none;
      text-align: left;
      margin-left: 1rem;
      @media (max-width: 500px) {
        width: 55%;
      }
    }
    }

    .project-link{
      //position: absolute;
      //left: 0;
      //bottom: 80%;
      background-color: black;
      z-index: 5;
      border: 1px solid black;
      //padding: 6px 10px 6px 25px;
      color: white;
      //width: 250px;
      overflow: hidden;
      display: block;
      box-sizing: border-box;
      white-space: nowrap;
      text-overflow: ellipsis;
      direction: ltr;
      text-decoration: none;
      border-radius: 5px 5px 5px 0px;
      @media (max-width: 1000px) {
        //width: 200px;
      }
     @media (max-width: 640px) {
      // width: 180px;
      //bottom: 81%;
      // left: 30%;
        }

      @media (max-width: 600px) {
       //width: 150px;

        }

      @media (max-width: 440px) {
       //width: 150px;
       // left: 5%;

        }
     }
  }
}