@use '../../colors' as *;

.links-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  .singlink-container{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    margin-bottom: 15px;
    width: 90%;
    padding: 10px;

    .icon{
      width: 25px;
      margin-left: 15px;
      @media (max-width: 500px) {
        margin-left: 6px;
        margin-right: 2px;
      }
    }
    #code-icon{
      margin-top: 3px;
      margin-bottom: 3px;
    }
    #view-icon{

    }

    .singlink{
      color: $white;
      text-decoration: none;
      width: 65%;
      font-size: 1rem;
      @media (max-width: 500px) {
        width: 55%;
      }
    }
  }
}