$lightTurquoise: mintcream;
$midTurquoise: #dbfff9;
$turquoise: rgb(2, 151, 151);
$darkGray: #474747;
$gray: #686868;
$lightGray: #eee;
$white: white;
$red: red;
$burgundy: #6a2b2b;
$wheat: #efe7cd;
$lightWheat: #efe7cd;