@use '../../../colors' as *;

.project {
  position: relative;
  max-width: 210px;
  min-width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1.5rem 3rem;
  width: 18vw;
  box-shadow: 2px 2px 4px $gray;
  border-radius: 10px;
  height: auto;

  @media (max-width: 1250px) {
    margin-bottom: 90px;
  }

  @media (max-width: 800px) {
    margin: 1rem 1.5rem;
    border-radius: 10px;
    box-shadow: 2px 2px 4px $gray;
  }


  .head-wrapper {
    position: relative;
    width: 100%;

    h3 {
      padding: 15px 0px;
      text-align: center;
      width: 100%;
      font-size: 1.2rem;
      cursor: pointer;

      @media (max-width: 1007px) {
        padding: 1vh 0;
      }
    }

    .direct-wrapper {
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.2rem;
      margin: 0;

      .index-buttons {
        background-color: $wheat;
        padding: 0 0.2rem;
        margin: 0;
      }
    }
  }


  .actions {
    box-shadow: 2px 2px 4px $gray;
    border-radius: 0px 0px 10px 10px;
    z-index: 50;
    max-width: 210px;
    min-width: 120px;
    width: 18vw;
    padding-top: 15px;
    position: absolute;
    top: 100%;
    background-color: rgba(239, 231, 205, 1);
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-6px);
    transition: max-height 300ms ease, opacity 200ms ease, transform 300ms ease;

    @media (max-width: 1250px) {
      //width: 23vw;
    }
    @media (max-width: 800px) {
      position: static;
      box-shadow: none;
      padding-top: 0px;
    }
  }
}

.project.open {
  //border-radius: 10px 10px 0px 0px;
  @media (max-width: 800px) {
    border-radius: 10px;
  }

  .actions {
    max-height: 999px;
    opacity: 1;
    transform: translateY(0);
  }
}

.image-frame {
  box-shadow: 0px 1px 3px $gray;


  width: 100%;
  aspect-ratio: 12 / 12.5;
  overflow: hidden;
  //border: 2px dashed $midTurquoise;
  //background-color: $midTurquoise;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px 8px 0px 0px;

  .project-image {
    display: block;
    height: 100%;
    width: 100%;
    cursor: pointer;
    object-fit: cover;
    object-position: center;
    border-radius: 8px 8px 0px 0px;
  }
}




.project:hover,
.project:focus-within {
  .edit-icon, .direct-wrapper {
    opacity: 1;
    transform: none;
    pointer-events: auto;
  }
}


