@use '../../../colors' as *;

.edit-real-category {

  .edit-category-form {
    .add-section-main {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 100%;
      padding: 1rem;
      @media (max-width: 1050px) {
        flex-direction: column;
      }
      @media (max-width: 440px) {
        padding: 15px 0;
      }

      .category-title {
        width: 100%;
        flex: 1 1 auto;
        text-align: left;
        font-weight: bold;
        color: $darkGray;
        margin: 0;
        padding: 0;
        padding-right: 3rem;
        padding-left: 30px;
        @media (max-width: 440px) {
          margin-bottom: 15px;
          width: 80%;
          align-self: flex-start;
          padding: 0;
          padding-left: 15px;
        }
      }

      .direct-wrapper {
        padding: 15px 5px;
        pointer-events: auto;
      }

      .edit-buttons {
        border-radius: 10px;
      }
    }
  }
}