.project{
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-right: 2vw;
  img{
    max-width: 200px;
    width: 17vw;
    cursor: pointer;
  }
  h3{
    text-align: center;
    width: 100%;
  }
}